<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">
<title>Semka Informatics</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<header>

<div>
<h1>Semka Informatics</h1>
<p>Практические работы по программированию</p>
</div>

<button id="themeToggle">🌙</button>

</header>


<div class="stats">
Всего работ: {{ total }}
</div>


<section class="latest">

<h2>Последние обновления</h2>

<ul>

{% for f in latest %}
<li>{{ f.title }}</li>
{% endfor %}

</ul>

</section>


{% for work, files in works.items() %}

<section class="work">

<h2>Практическая работа {{ work }}</h2>

<div class="grid">

{% for f in files %}

<a class="card" href="/view/{{ f.filename }}">

<div class="title">
{{ f.icon }} {{ f.title }}
</div>

<div class="meta">
{{ f.filename }} <br>
{{ f.mtime }}
</div>

</a>

{% endfor %}

</div>

</section>

{% endfor %}


<footer>
© ISemene4kaI
</footer>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>