<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>{{ filename }}</title>

<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='code.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

</head>

<body>

<div class="topbar">

<h2>{{ filename }}</h2>

<div>
Просмотров: {{ views }}
</div>

</div>


<div class="buttons">

<a class="btn" href="/download/{{ filename }}">⬇ Скачать</a>

<a class="btn"
href="https://github.com/ISemene4kaI/semka_informatics/tree/main/app/code_storage/{{ filename }}"
target="_blank">

GitHub

</a>

<button class="btn" id="copyBtn">Copy code</button>

</div>


{% if is_markdown %}

<div class="markdown-body">

{{ markdown | safe }}

</div>

{% else %}

<pre><code class="language-{{ language }}">

{% for line in lines %}
<span class="line"><span class="number">{{ loop.index }}</span>{{ line | e }}</span>
{% endfor %}

</code></pre>

{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<script>
hljs.highlightAll();
</script>

<script src="{{ url_for('static',filename='script.js') }}"></script>

</body>

</html>